<footer class="nav-footer-container">
    <div class="nav-footer">
        <div class="footer-logo">
            <div style="display: flex;">
                <img src="/images/logo.png"></img>
                <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
            </div>
        </div>
        <div class="footer-nav">
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="">View Menu</a></li>
                <li><a href="">Our Story</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
            </ul>
        </div>
        <div class="footer-socials">
            <a href="https://www.facebook.com/supersixhouse/?ref=page_internal" target="_blank">
                <p>Follow us on Facebook</p>
            </a>
            <a href="https://www.facebook.com/supersixhouse/?ref=page_internal" target="_blank"><i
                    class="fab fa-facebook fa-2x"></i></a>
        </div>

    </div>
</footer>