<footer class="nav-footer-container">
    <div class="nav-footer">
        <div class="footer-logo">
            <div style="display: flex;">
                <i style="color: var(--orange); font-size: 25px;" class="fa fa-fire"></i>
                <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
            </div>
        </div>
        <div class="footer-socials">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>

    </div>
</footer>