<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <script defer src="/js/adminScript.js" type="module"></script>
    {{> adminHeader }}

    <div class="admin-bg">
        <h1 class="title">Admin Management</h1>
        <div class="tab-container">
            <div class="button-container">
                <button id="userBtn">Users</button>
                <button id="orderBtn">Orders</button>
                <button id="menuBtn">Menu</button>
            </div>
            <div class="tab-panel">
                <div id="user-Table">
                    <table>
                        <tr>
                            <th>Date Joined</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Orders Made</th>
                            <th>Remove</th>
                        </tr>
                        <tbody id="userTable">

                        </tbody>
                    </table>
                </div>
                <label for="userFilter">Sort: </label>
                <select name="userFilter" id="userFilter">
                    <option value="Date-Ascending">Date Joined - Ascending</option>
                    <option value="Date-Descending">Date Joined - Descending</option>
                    <option value="Name-Ascending">Name - A-Z</option>
                    <option value="Name-Descending">Name - Z-A</option>
                    <option value="Orders-Ascending">Orders - Ascending</option>
                    <option value="Orders-Descending">Orders - Descending</option>
                </select>
            </div>
            <div class="tab-panel">
                <div id="order-Table">
                    <table>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Order</th>
                            <th>Total Price</th>
                            <th>Status</th>
                        </tr>
                        <tbody id="orderTable">

                        </tbody>
                    </table>
                </div>
                <p id="numOrders"></p>
                <label for="orderFilter">Show: </label>
                <select name="orderFilter" id="orderFilter">
                    <option value="All">All</option>
                    <option selected value="Pending">Pending</option>
                    <option value="On Route">On Route</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
            <div class="tab-panel">
                <div id="menu-Table">
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                        <tbody id="menuTable">
                        </tbody>
                    </table>
                </div>
                <button class="admin-btn" id="add-item">Add</button>
                <div id="addItemModal" class="modal">
                    <div class="modalContent">
                        {{!-- <form action="/addFood" method="POST" id="addItemForm" enctype="multipart/form-data"> --}}
                            <form id="addItemForm" enctype="multipart/form-data">
                                <div>
                                    <label for="FoodName">FoodName</label>
                                    <input type="text" id="foodName" name="FoodName" required>
                                </div>
                                <div>
                                    <label for="Price">Price</label>
                                    <input type="number" id="price" name="Price" min="0" required>
                                </div>
                                <div>
                                    <label for="Description">Description</label>
                                    <input type="text" id="description" name="Description" required>
                                </div>
                                <div>
                                    <label for="Category">Category</label>
                                    <select id="category" name="Category" required>
                                        <option value="Appetizer">Appetizer</option>
                                        <option value="Meat">Meat</option>
                                        <option value="Seafood">Seafood</option>
                                        <option value="Vegetable">Vegetable</option>
                                        <option value="Drinks">Drinks</option>
                                        <option value="Others">Others</option>
                                        <option value="Bundle Meal">Bundle Meal</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="Picture">Picture</label>
                                    <input type="file" id="picture" name="Picture" accept=".jpg,.jpeg,.png" required>
                                </div>
                                <button class="admin-btn" type="button" id="menu-submitBtn">Submit</button>
                            </form>
                            <button class="admin-btn" type="button" id="menu-closeBtn">Close</button>
                            <div id="addMenu-xBtn" class="admin-close-btn">+</div>
                    </div>
                </div>
                <div id="editItemModal" class="modal">
                    <div class="modalContent">
                        <form id="editForm" name="editForm">
                            <input type="hidden" id="editID">
                            <div>
                                <label for="FoodName">FoodName: </label>
                                <input type="text" id="editFoodName" name="FoodName" required>
                            </div>
                            <div>
                                <label for="Price">Price: </label>
                                <input type="number" id="editPrice" name="Price" min="0" required>
                            </div>
                            <div>
                                <label for="Description">Description: </label>
                                <input type="text" id="editDescription" name="Description" required>
                            </div>
                            <div>
                                <label for="Category">Category: </label>
                                <select id="editCategory" name="Category" required>
                                    <option value="Appetizer">Appetizer</option>
                                    <option value="Meat">Meat</option>
                                    <option value="Seafood">Seafood</option>
                                    <option value="Vegetable">Vegetable</option>
                                    <option value="Drinks">Drinks</option>
                                    <option value="Others">Others</option>
                                    <option value="Bundle Meal">Bundle Meal</option>
                                </select>
                                {{!-- <input type="text" id="editCategory" name="Category" required> --}}
                            </div>
                            <div>
                                <label for="Available">Available: </label>
                                <label class="switch" name="Available">
                                    <input type="checkbox" id="editAvailable">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div>
                                <label for="Picture">Picture</label>
                                <input type="file" id="editPicture" name="Picture" accept=".jpg,.jpeg,.png" required>
                            </div>

                            <button class="admin-btn" type="button" id="edit-submitBtn">Submit</button>
                        </form>
                        <button class="admin-btn" type="button" id="edit-closeBtn">Close</button>
                        <div id="editMenu-xBtn" class="admin-close-btn">+</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
</body>

</html>