<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/js/upload.js"></script>


</head>

<body>
    <script defer src="/js/adminScript.js" type="module"></script>
    <div class="nav-container">
        <nav class="nav-bar">
            <div class="nav-right">
                <i style="color: var(--orange);   line-height:50px;
                    font-size: 30px; margin-left: 20px" class="fa fa-fire"></i>
                <h1 class="" id="nav-title">Super 6 Grille House</h1>
            </div>
            <div class="nav-left">
                <a class="nav-link-btn" href="/logout">Logout</a>
            </div>
        </nav>
    </div>

    <div class="admin-bg">
        <h1 class="title">Admin Management</h1>
        <div class="tab-container">
            <div class="button-container">
                <button id="userBtn">Users</button>
                <button id="orderBtn">Orders</button>
                <button id="menuBtn">Menu</button>
            </div>
            <div class="tab-panel">
                <div id="user-Table">
                    <table>
                        <tr>
                            <th>Date Joined</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Orders Made</th>
                            <th>Remove</th>
                        </tr>
                        <tbody id="userTable">

                        </tbody>
                    </table>
                </div>
                <label for="userFilter">Sort: </label>
                <select name="userFilter" id="userFilter">
                    <option value="Date-Ascending">Date Joined - Ascending</option>
                    <option value="Date-Descending">Date Joined - Descending</option>
                    <option value="Name-Ascending">Name - A-Z</option>
                    <option value="Name-Descending">Name - Z-A</option>
                    <option value="Orders-Ascending">Orders - Ascending</option>
                    <option value="Orders-Descending">Orders - Descending</option>
                </select>
            </div>
            <div class="tab-panel">
                <div id="order-Table">
                    <table>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Order</th>
                            <th>Total Price</th>
                            <th>Status</th>
                        </tr>
                        <tbody id="orderTable">

                        </tbody>
                    </table>
                </div>
                <label for="orderFilter">Show: </label>
                <select name="orderFilter" id="orderFilter">
                    <option value="All">All</option>
                    <option value="Pending">Pending</option>
                    <option value="On Route">On Route</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
            <div class="tab-panel">
                <div id="menu-Table">
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                        <tbody id="menuTable">
                        </tbody>
                    </table>
                </div>
                <button id="add-item">Add</button>
                <div id="addItemModal" class="modal">
                    <div class="modalContent">
                        <form action="/addFood" method="POST" id="addItemForm">
                            <div>
                                <label for="FoodName">FoodName</label>
                                <input type="text" id="foodName" name="FoodName" required>
                            </div>
                            <div>
                                <label for="Price">Price</label>
                                <input type="number" id="price" name="Price" required>
                            </div>
                            <div>
                                <label for="Description">Description</label>
                                <input type="text" id="description" name="Description" required>
                            </div>
                            <div>
                                <label for="Category">Category</label>
                                <input type="text" id="category" name="Category" required>
                            </div>
                            <div>
                                <label for="Picture">Picture</label>
                                <input type="file" id="picture" name="Picture" class="filepond" required>
                            </div>
                            <button type="submit" id="menu-submitBtn">Submit</button>
                        </form>
                        <button type="button" id="menu-closeBtn">Close</button>
                    </div>
                </div>
                <div id="editItemModal" class="modal">
                    <div class="modalContent">
                        <form>
                            <input type="hidden" id="editID">
                            <div>
                                <label for="FoodName">FoodName: </label>
                                <input type="text" id="editFoodName" name="FoodName" required>
                            </div>
                            <div>
                                <label for="Price">Price: </label>
                                <input type="number" id="editPrice" name="Price" required>
                            </div>
                            <div>
                                <label for="Description">Description: </label>
                                <input type="text" id="editDescription" name="Description" required>
                            </div>
                            <div>
                                <label for="Category">Category: </label>
                                <input type="text" id="editCategory" name="Category" required>
                            </div>
                            <div>
                                <label for="Available">Available: </label>
                                <label class="switch" name="Available">
                                    <input type="checkbox" id="editAvailable">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <button type="button" id="edit-submitBtn">Submit</button>
                        </form>
                        <button type="button" id="edit-closeBtn">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<footer class="nav-footer-container">
    <div class="nav-footer">
        <div class="footer-logo">
            <div style="display: flex;">
                <i style="color: var(--orange); font-size: 25px;" class="fa fa-fire"></i>
                <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
            </div>
        </div>
        <div class="footer-socials">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>

    </div>

</footer>


</html>