<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/scripts/fileUpload.js"></script>

    <script>
        var cart = {};
        function buildCart(cart) {
            var table = document.getElementById("cartTable");
            var subtotal = 0;
            var deliveryfee = 100;//Temporary value
            if (cart.length > 0) {

                table.innerHTML = "";
                //Image for this is still static
                for (var i = 0; i < cart.length; i++) {
                    var row =
                        `<tr>
                            <td>
                                <div class="cart-info">
                                    <img src="images/Sisig.jpg">
                                    <div>
                                        <p>${cart[i].ItemID.FoodName}</p>
                                        <small>Price: ₱${cart[i].ItemID.Price}</small>
                                        <br>
                                        <button type="button" id="remButton" name="${i}">Remove</button>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="${cart[i].Quantity}"></td>
                            <td>₱${cart[i].ItemID.Price * cart[i].Quantity}</td>
                        </tr>`
                    subtotal += cart[i].ItemID.Price * cart[i].Quantity;
                    table.innerHTML += row
                }
                $('#subtotal').text(`₱${subtotal}`);
                $('#total').text(`₱${subtotal + deliveryfee}`);
            } else {
                var text = "<p>You have no items in your cart.</p>";
                table.innerHTML += text;
            }
        }

        function getCart() {
            $.get('/getUserCart', function (result) {
                if (result) {
                    console.log(result.Cart);
                    data = result.Cart;
                    buildCart(data);
                }

                else
                    alert('Error obtaining Cart');
            })
        }

        $(document).ready(function () {
            getCart();
            $("#cartTable").on('click', '#remButton', function () {
                var index = parseInt($(this).prop('name'));
                var itemID = data[index]._id;
                $.post(`/removeCartItem`, {itemID: itemID} , function (result) {
                    if (result) {
                        getCart()
                    } else {
                        alert("Error");
                    }
                });
            });
        })
    </script>

</head>

<body>
    {{> header Username=Username}}

    <!---- cart item details ---->
    <div class="checkout-bg">
        <section class="cart-container">
            <div class="cart-page">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <tbody id="cartTable">
                    </tbody>

                </table>

                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td id="subtotal"></td>
                        </tr>
                        <tr>
                            <td>Delivery Fee</td>
                            <td>₱100</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="total"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="delivery-form-container">
            <div class="payment">
                <h2>Delivery Address</h2>

                <div class="form">
                    <div class="delivery-info">
                        <input type="text" class="input" name="address" placeholder="Address">
                    </div>
                    <div class="delivery-info">
                        <input type="text" class="input" name="city" placeholder="City/Municipality">
                    </div>
                    <div class="delivery-info">
                        <input type="text" class="input" name="region" placeholder="Region">
                    </div>
                    <div class="delivery-info">
                        <input type="text" class="input" name="zip" placeholder="ZIP Code">
                    </div>
                </div>
            </div>
            <button class="submit-form">Confirm</button>
    </div>


    </form>
    </section>
    </div>



    <footer class="nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <div style="display: flex;">
                    <i style="color: var(--orange); font-size: 25px;" class="fa fa-fire"></i>
                    <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
                </div>
            </div>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>

    </footer>
</body>

</html>