<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/scripts/fileUpload.js"></script>

    <script>
        var cart = {};
        function incQty(Quantity, ItemID) {
            var index = cart.map(item => item._id).indexOf(ItemID);
            var body = {
                Quantity: Quantity - cart[index].Quantity,
                ItemID: ItemID
            }
            $.post('/updateCart', body, function (result) {
                getCart();
            })
        }
        function buildCart(cart) {
            var table = document.getElementById("cartTable");
            table.innerHTML = "";
            var subtotal = 0;
            var deliveryfee = 100;//Temporary value
            if (cart.length > 0) {
                $('.delivery-form-container').css('display', 'block');
                
                //Image for this is still static
                for (var i = 0; i < cart.length; i++) {
                    var row =
                        `<tr>
                            <td>
                                <div class="cart-info">
                                    <img src="${cart[i].ItemID.ImagePath}">
                                    <div>
                                        <p>${cart[i].ItemID.FoodName}</p>
                                        <small>Price: ₱${cart[i].ItemID.Price}</small>
                                        <br>
                                        <button type="button" id="remButton" name="${i}">Remove</button>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" name="${cart[i]._id}" value="${cart[i].Quantity}" min="1" oninput="validity.valid||(value='');" onchange="incQty(this.value, this.name)"></td>
                            <td>₱${cart[i].ItemID.Price * cart[i].Quantity}</td>
                        </tr>`
                    subtotal += cart[i].ItemID.Price * cart[i].Quantity;
                    table.innerHTML += row
                }
                $('#subtotal').text(`₱${subtotal}`);
                $('#total').text(`₱${subtotal + deliveryfee}`);
            } else {
                $('.delivery-form-container').css('display', 'none');
                var text = "<p>You have no items in your cart.</p>";
                table.innerHTML += text;
            }
        }

        function getCart() {
            $.get('/getUserCart', function (result) {
                if (result) {
                    cart = result.Cart;
                    buildCart(cart);
                }
                else
                    alert('Error obtaining Cart');
            })
        }

        $(document).ready(function () {
            getCart();
            // Removes one item from cart of user
            $("#cartTable").on('click', '#remButton', function () {
                var index = parseInt($(this).prop('name'));
                var itemID = cart[index]._id;
                $.post(`/removeCartItem`, { itemID: itemID }, function (result) {
                    if (result) {
                        getCart()
                    } else {
                        alert("Error");
                    }
                });
            });
        })
    </script>

</head>

<body>
    {{> header Username=Username}}

    <!---- cart item details ---->
    <div class="checkout-bg">
        <section class="cart-container">
            <div class="cart-page">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <tbody id="cartTable">
                    </tbody>

                </table>

                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td id="subtotal"></td>
                        </tr>
                        <tr>
                            <td>Delivery Fee</td>
                            <td>₱100</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="total"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="delivery-form-container">
            <div class="payment">
                <h2>Delivery Address</h2>
                <form action="/submitOrder" method="POST">
                    <div class="form">
                        <div class="delivery-info">
                            <input type="text" class="input" name="Address" placeholder="Address" required>
                        </div>
                        <div class="delivery-info">
                            <input type="text" class="input" name="City" placeholder="City/Municipality" required>
                        </div>
                        <div class="delivery-info">
                            <input type="text" class="input" name="Region" placeholder="Region" required>
                        </div>
                        <div class="delivery-info">
                            <input type="text" class="input" name="Zip" placeholder="ZIP Code" title="Please enter a valid zip code." pattern="[0-9]{3,4}" required>
                        </div>
                    </div>
            </div>
            <button type="submit" class="submit-form" id="submit-Order">Confirm</button>
            </form>
        </section>
    </div>
    {{> footer}} 
</body>

</html>