<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>    
        
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/scripts/fileUpload.js"></script>
</head>
<body>
    <div class="nav-container">
        <nav class="nav-bar">
            <div class="nav-right">
                <a class="nav-logo" href="index.html"><img src="images/logo.png" height="50px" width="50px"></img></a>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Menu</a>
                        <ul>
                            <li><a href="">Appetizers</a></li>
                            <li><a href="">Meat</a></li>
                            <li><a href="">Seafood</a></li>
                            <li><a href="">Vegetables</a></li>
                            <li><a href="">Others</a></li>
                            <li><a href="">Drinks</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html">Bundle Meals</a></li>
                    <li><a href="index.html">Our Story</a></li>
                </ul>
            </div>
            <div class="nav-left">
                <a href="checkout.html" style ="font-size: 20px;"class="fa-stack fa-4x nav-write">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i style ="color: white;" class="fa fa-shopping-cart fa-stack-1x"></i>
                </a>
                <a class="nav-link-btn"href="login.html">Login</a>
            </div>
        </nav>
    </div>
    
    <section class="container-image1">
        
        <div class="home-palette-dark">
            <h1 style="font-size: 64px;">SUPER 6 GRILLE HOUSE</h1>
            <h2 class="welcome-text" style = "color: white; margin-bottom: 30px;">Malate's famous payong-payong restaurant!</h1>
            <p style = "color: white; text-align: center;">
                Enjoy Malate's best Filipino dishes, delivered right at your doorstep.<br>
                Deliveries can be made all over Manila.<br>
                What are you waiting for? Order some good food now!
            </p>
                
  
        </div>

    </section>
    <section class="container-dark">

        <div class="home-palette-dark">

            <h1 style = "color: white;">Menu</h1>

            <div class="home-palette-container">

                    <div class="menu-card" style="margin-left: 45px">
                        <img src="./images/Sisig.jpg">
                        <a href="">Pork Sisig - 160</a>
                    </div>

                    <div class="menu-card" style="margin-left: 45px">
                        <img src="./images/Buttered Chicken.jpg">
                        <a href="">Buttered Chicken - 220</a>
                    </div>

            </div>

        </div>

    </section>

    <section class="container-light">

        <div class="home-palette-dark">

            <h1>Where to Find Us</h1>

            <div class="home-palette-container">
                    <section class="branch-box">
                        <h2>First Branch: 533 Remedios St. Malate Manila <br>
                            <br>Second Branch (Opening Soon): 1880 Maria Orosa St. Malate Manila</h2>
                    </section>
                    <section class="branch-box">
                        <h2>Contact Numbers:<br>
                        0917-859-9399<br>
                        0917-838-9288<br>
                        0995-106-0700<br>
                        0923-998-1952<br>
                        8400-7956<br>
                        </h2>
                    </section>
            </div>

        </div>

    </section>

    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <div style="display: flex;">
                    <img src="images/logo.png"></img>
                    <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
                </div>
            </div>
            <div class="footer-nav">
                <ul class="footer-links">
                    <li><a href="">Home</a></li>
                    <li><a href="">View Menu</a></li>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Login/Sign Up</a></li>
                </ul>
            </div>
            <div class="footer-socials">
                <a href="https://www.facebook.com/supersixhouse/?ref=page_internal" target="_blank"><p>Follow us on Facebook</p></a>
                <a href="https://www.facebook.com/supersixhouse/?ref=page_internal" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
            </div>

        </div>

    </footer>
</body>
</html>