<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    {{> header Username=Username}}
    <section class="container-dark">
        <div class="home-palette-dark">
            <h1 class="welcome-text" style="color: white; margin-bottom: 30px;">Malate's famous payong-payong
                restaurant!</h1>
            <p style="color: white; text-align: center;">
                Enjoy Malate's best Filipino dishes, delivered right at your doorstep.<br>
                Deliveries can be made all over Manila.<br>
                What are you waiting for? Order some good food now!
            </p>
        </div>
    </section>
    <section class="container-light">
        <div class="home-palette-light">
            <h1 style="color: white;">Menu</h1>
            <div class="home-palette-container">
                {{#each Menu}}
                    <div class="menu-card" style="margin-left: 45px">
                        <a href="/menu/{{this._id}}">
                            <img height="150" width="150" src="{{this.imagePath}}">
                            <p>{{this.FoodName}} - {{this.Price}}</p>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>