<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>    
        
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/scripts/fileUpload.js"></script>
</head>
<body>
    {{> header Username=Username}}

    <!---- individual item details ---->
    <div class="indivItem-bg">
        <section class="indivItem-container">
            <div class="indivItem-page">
                <div class="indivItem-info"> 
                    <img class="indivImage" src="images/Sisig.jpg">
                        
                    <div class="indivInfo">
                        <p style="font-size: 40px;">Pork Sisig</p>
                        <br>
                        <small style="font-size: 20px; ">The best sisig in Malate. Sizzling marinated pork bits with onion and chili. </small>
                        <br><br>
                        <small style="font-size: 20px;">₱ 208.00</small>
                        <br>
                            <div class="indivButton">
                                <small style="font-size: 20px">Quantity: </small>
                                <input style="width:40px; height:30px; margin-top:120px; margin-bottom:10px;"type="number" value="1"><br>
                                <button style="width: 350px" type="submit" value="Submit" class="submit-form">Add to Cart</button><br>
                                <button style="width: 350px" type="submit" value="Submit" class="submit-form">Back to Menu</button>
                            </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>



    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <div style="display: flex;">
                    <i style ="color: var(--orange); font-size: 25px;"class="fa fa-fire"></i>
                    <h2 class="" id="nav-footer-title">Super 6 Grille House</h2>
                </div>
            </div>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>

    </footer>
</body>
</html>