<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    
</head>
<body>
    
    <div class="login-bg">
        <div class="login-form-container">
            <div class="login-title-center">
                <h1>Login</h1>         
            </div>
            <hr style="height:2px;border-width:0;color:rgb(54, 54, 54);background-color:gray;margin: 30px 0 40px 0;">
            
            <form name="myForm" action="/login" class="form" id="form" method="POST">
                <div class="form-input">
                    <label for="username">Email</label>
                    <input type="text" placeholder="juan_delacruz@example.com" id="username" name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                </div>

                <div class="form-input">
                    <label for="username">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password" />
                </div>
                <strong><p id="error" style="text-align: center; padding: 0 0 0 0; color: red;">{{error}}</p></strong>
                <button type="submit" value="Submit" id="login" class="submit-form">Login</button>
                <button type="button" value="Submit" id="cancel" class="submit-form" onclick="location.href='/'">Cancel</button>
                <div class="form-redirect">
                    <span>Dont have an account yet? </span>
                    <a href="/register">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
