<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>    

</head>
<body>
    {{> header Username=Username UserID=id}}

    <div class="os-content">
        <h1>Our Story</h1><br>
        <p>
            Super 6 Grille House is a Chinese restaurant owned by a Chinese family, it is only a small family business run by the Lim Family in Malate, Manila started in 2005. The restaurant is considered as a commercial food service because it is a profit-oriented establishment and its main goal is to provide food and beverages to customers to create profit and give a good impression to the market. Super 6 Grille House is not a powerhouse restaurant or a big establishment, it is only a small family business .
            <br><br><br>At Super 6, they aim to give everyone a pleasurable dining experience, serving only the freshest food ranging from Filipino grill favorites - Sisig, Grilled Liempo, Buttered Chicken, Sweet and Sour Pork and many more. As of now, Super 6 has only 2 branches located at 533 Remedios Street Malate Manila and 1880 Maria Orosa Street Malate Manila which is the second branch opening soon.
        </p>
    </div>

    {{> footer}}
</body>
</html>