<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <script src="/js/reviewScript.js"></script>
</head>

<body>
    {{> header Username=Username UserID=id}}

    <div class="reviews-bg">
        <div class="reviews-heading">
            <h1>Reviews from our Customers</h1>
        </div>
        <div id="review-table" class="reviews-container">

        </div>
        <div class="reviews-container">
            <div class="comment-box">
                <h2>Feel Free to Leave Us a Review</h2>
                <form action="/addReview" method="POST">
                    <textarea placeholder="Leave a Review here..." name="review" id="review"></textarea>
                    <p id="error" style="color: red;"></p>
                    <button type="submit" value="Submit" class="review-btn" id="submit" disabled>Submit Review</button>
                </form>
                {{#if Username}}

                {{else}}
                <p>You must have an account in order to leave a review. <a href="/login">Login/Signup</a></p>
                {{/if}}
            </div>
        </div>
    </div>

    {{> footer}}
</body>

</html>