<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/js/upload.js"></script>
    <title>Menu</title>

    <style>
        table {
            border-collapse: collapse;
        }

        th {
            background-color: green;
            Color: white;
        }

        th,
        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px
        }
    </style>
    <script type="module" defer>
        import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
        const socket = io("http://localhost:3000");
        var orders = {};

        //If there are new orders, update the table without refreshing the tab
        socket.on('orderdb-updated', change => {
            getFromDB();
        });
        
        function buildMenu(orders) {      
            var table = $('#orderTable');
            table.empty();
            for (var i = 0; i < orders.length; i++) { 
                var row = `<tr>
                <td>${orders[i].User.Username}</td>
                <td>${orders[i].User.Email}</td>
                <td>${orders[i].User.MobileNumber}</td>    
                <td>${orders[i].Address}</td>
                <td>${getOrderString(orders[i].Cart)}</td>
                <td>${orders[i].TotalPrice}</td>
                <td>${orders[i].Status}</td>
                </tr>`
                table.append(row);
            };
        }

        function getOrderString (Cart) {
            var orderStr = ''
            Cart.map(item => {
                var str = `${item.Quantity}x ${item.FoodName} <br/>`;
                orderStr = orderStr.concat('', str);
            })
           return orderStr;
        }

        function getFromDB() {
            $.get('/getOrders', function (result) {
                console.log(result);
                orders = result;
                buildMenu(orders);
            })
        }

        $(document).ready(function () {

            getFromDB();

            $('#update').click(function () {
                $('#error').text('');
                var FoodName = $('#foodName').val();
                var Price = $('#price').val();
                var Description = $('#description').val();

                var index = data.map(item => item.FoodName).indexOf(FoodName);
                if (index > -1) {
                    var info = {
                        itemID: data[index]._id,
                        FoodName: FoodName,
                        Price: Price,
                        Description: Description
                    };
                    $.post('/updateFood', info, function (result) {
                        if (result === 'Success')
                            getFromDB();
                    })
                } else {
                    $('#error').text('Update: Invalid Item');
                }
            })
        });
    </script>
</head>

<body>
    {{#if Username}}
    <a class="nav-link-btn" href="">{{Username}}</a>
    <a class="nav-link-btn" href="/logout">Logout</a>
    {{else}}
    <a class="nav-link-btn" href="/login">Login</a>
    {{/if}}
    <h1>Menu</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Address</th>
            <th>Order</th>
            <th>Total Price</th>
            <th>Status</th>
        </tr>
        <tbody id="orderTable">

        </tbody>
    </table>

</body>

</html>