<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <script src="/js/editProfileScript.js"></script>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        function togglePopup() {
            document.getElementById("editUD-1").classList.toggle("active");
        }
    </script>
</head>
<body>
    {{> header Username=Username UserID=id}}
    <div class="profile-bg">
            
        <div class="content">
            <div class="userData">
                <h1>Welcome {{Username}}</h1>
                <p>ID: {{id}}</p>
                <p><i class="far fa-calendar-alt"></i> Date Joined: {{DateJoined}}</p>
                <div class="editUD" id="editUD-1">
                    <div class="overlay"></div>
                    <div class="userDetails">
                        <div class="exitEdit" onclick="togglePopup()">&times;</div>
                        <form action="/editaccount" method="post">
                            <div class="newUserDetails">
                                <h1>Edit User Details</h1>

                                <label for="username">New Username:</label>
                                <input type="text" placeholder="New Username" id="username" name="username" required/>
                                <p id="usernameError"></p>

                                <label for="password">New Password:</label>
                                <input type="password" placeholder="New Password" id="password" name="password" required/>
                                <p id="passwordError"></p>

                                <label for="password">Confirm New Password:</label>
                                <input type="password" placeholder="Confirm New Password" id="passwordConfirm" name="passwordConfirm" required/>
                                <p id="passwordConfirmError"></p>

                                <label for="contactnum">New Contact Number:</label>
                                <input type="tel" placeholder="New Contact Number" id="contactnumber" name="contactnum" required/>
                                <p id="contactnumberError"></p>
                            </div>
                            <button type="submit" value="Submit" class="saveUserData" id="submit" disabled>Save Changes</button>
                        </form>
                    </div>
                </div>
                <button class="editUserData" onclick="togglePopup()">Edit User Details</button>
            </div>
        </div>
        
        <div class="secondContainer">
            
        </div>
        <div class="box-container">
            <h1 id="emptyOrders"></h1>
            <div id="userOrder-Table">
                    <table>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Order</th>
                            <th>Total Price</th>
                            <th>Status</th>
                        </tr>
                        <tbody id="userOrderTable">

                        </tbody>
                    </table>
                </div>
            {{!-- <h1 style="margin-bottom: 30px;">Insert Data Here:</h1> --}}
            
            <div class="profile-card-container">

            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>
