<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    {{> header Username=Username}}
    <div class="profile-bg">
            
        <div class="content">
            <div class="userData">
                <h1>Welcome (insert username here)</h1>
                <p>ID: (insert user ID here if necessary, if not just delete)</p>
                <p><i class="far fa-calendar-alt"></i> Date Joined: (insert date joined if necessary, if not just delete)</p>
            </div>
        </div>
        
        <div class="secondContainer">
            
        </div>
        <div class="box-container">
            <h1 style="margin-bottom: 30px;">Insert Data Here:</h1>
            
            <div class="profile-card-container">

            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>